<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link th:href="@{/adminCSS/productsCSS.css}" rel="stylesheet">
</head>
<body>

<!-- Top Navigation Bar -->
<div class="navbar">
    <div class="title-container">
        <div class="title" style="color: white; font-size: 20px; font-weight: bold; margin-left: 50px;">Production Management</div>
    </div>
</div>

<!-- Sidebar -->
<div id="sidebar" class="sidebar">
    <a th:href="@{/viewProductsPage}" style="color: white;">Products</a>
    <a th:href="@{/viewUserManagement}" style="color: white;">Users</a>
    <a th:href="@{/viewOrderManagement}" style="color: white;">Orders</a>
    <a th:href="@{/viewCategoryPage}" style="color: white;">Categories</a>

    <div class="spacer"></div>

    <!-- Logout button -->
    <a class="logout-btn" onclick="window.location.href='/viewLoginPage'">Logout</a>
</div>

<!-- Main Content Area -->
<div class="main-content">

    <!-- Table Actions (Buttons) -->
    <div class="table-actions" style="margin-left: 30px; margin-top: 20px;">
        <div class="button white" onclick="showAddPopup()" style="box-shadow: 1px 0px 2px; width: 190px;">Add Product</div>
    </div>

    <!-- Product Management Form (Popup) -->
    <div id="form-popup" class="popup-overlay">
        <div class="popup">
            <button class="close-btn" onclick="closePopup()">×</button>
            <h2>Add Product</h2>
            <form th:action="@{/registerProducts}" method="post" th:object="${newProduct}">

                <div class="mb-3" style="margin-left:15px">
                    <label id="name" style="display: inline;">Product Name:</label>
                    <input type="text" th:field="*{name}" required />
                </div>

                <div class="mb-3" style="margin-left:15px">
                    <label id="sku" style="display: inline;">SKU:</label>
                    <input type="text" th:field="*{sku}" required />
                </div>

                <div class="mb-3" style="margin-left:15px">
                    <label id="description" style="display: inline;">Description:</label>
                    <input type="text" th:field="*{description}" required />
                </div>

                <div class="mb-3" style="margin-left:15px">
                    <label id="unitPrice" style="display: inline;">Price:</label>
                    <input type="number" step="0.01" th:field="*{unitPrice}" required />
                </div>

                <div class="mb-3" style="margin-left:15px">
                    <label id="unitsInStock" style="display: inline;">Stock Quantity:</label>
                    <input type="number" th:field="*{unitsInStock}" required />
                </div>

                <div class="mb-3" style="margin-left:15px">
                    <label id="tags" style="display: inline;">Tags:</label>
                    <input type="text" th:field="*{tags}" required />
                </div>

                <div class="mb-3" style="margin-left:15px">
                    <label for="category" style="display: inline;">Category:</label>
                    <select name="categoryId" id="category" required>
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.categoryName}">
                        </option>
                    </select>
                </div>




                <button type="submit" class="btn btn-primary">Add Product</button>
            </form>
        </div>
    </div>

    <!-- Product List Table -->
    <div class="product-table">
        <h2>Product List</h2>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>SKU</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Active</th>
                    <th>Category</th>
                    <th>Tags</th>
                    <th>Featured</th>
                    <th>Toggle Featured</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.sku}"></td>
                    <td th:text="${product.unitPrice}"></td>
                    <td th:text="${product.unitsInStock}"></td>
                    <td th:text="${product.active}"></td>
                    <td th:text="${product.category != null ? product.category.categoryName : 'No Category'}"></td>
                    <td th:text="${product.tags}"></td>
                    <td th:text="${product.featured != null && product.featured ? 'Yes' : 'No'}"></td>
                    <td>
                        <form th:action="@{/products/toggleFeatured}" method="post">
                            <input type="hidden" name="id" th:value="${product.id}"/>
                            <button type="submit">Toggle Featured</button>
                        </form>
                    </td>
                    <td>
                        <div class="btn btn-secondary"
                             style="box-shadow: 1px 0px 2px; width: 90px;"
                             th:attr="onclick='submitForm(' + ${product.id} + ')'" >
                            Update
                        </div>
                        <!-- Delete Button with data-id attribute to store the product ID -->
                        <div class="btn btn-warning"
                             style="box-shadow: 1px 0px 2px; width:90px"
                             th:attr="onclick='confirmDelete(' + ${product.id} + ')'">
                            Delete
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<form id="updateProductForm" action="/update-products" method="POST" style="display:none;">
    <input type="hidden" name="id" id="productId">
</form>

<form id="deleteForm" action="/delete-product" method="POST" style="display:none;">
    <input type="hidden" name="id" id="deleteProductId">
</form>


<script>

    function showAddPopup() {
        document.getElementById('form-popup').style.display = 'block';
    }

    function submitForm(productId) {
        console.log("Updating product with ID:", productId);
        document.getElementById('productId').value = productId;
        document.getElementById('updateProductForm').submit();
    }

    function confirmDelete(productId) {

        // Set the product ID to the hidden input field in the form
        document.getElementById('deleteProductId').value = productId;

        // Submit the form to trigger the deletion
        document.getElementById('deleteForm').submit();
    }


    function closePopup() {
        document.getElementById('form-popup').style.display = 'none';
    }

</script>

</body>
</html>
