.navbar {
    background: #002147;
    padding: 20px 0;
}

    .navbar .nav-buttons {
    margin-right: 30px;
}

.navbar .nav-buttons button {
    margin-left: 10px;
    color: white;
    background-color: #0056b3;
    border: none;
}

.navbar .nav-buttons button:hover {
    background-color: #00408a;
}

    .sidebar {
    position: fixed;
    width: 250px;
    height: 95%;
    background-color: #002147;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 1px;

}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 5px 0;
}

.sidebar a:hover {
    background-color: #333;
}


.main-content {
    margin-left: 240px;
    padding: 20px;
}

.order-history-table {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.order-history-table table {
    width: 100%;
    border-collapse: collapse;
}

.order-history-table th, .order-history-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.order-history-table th {
    background-color: #f1f1f1;
    color: #002147;
    font-size: 14px;
}

.order-history-table tr:hover {
    background-color: #f1f1f1;
}

.order-history-table td a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}

.order-history-table td a:hover {
    color: #00408a;
}
