body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
display: flex;
}

.navbar {
width: 100%;
background: #002147;
padding: 15px 30px;
display: flex;
justify-content: space-between;
align-items: center;
color: white;
position: fixed;
top: 0;
left: 0;
height: 60px;
z-index: 1000;
}

.navbar .title {
font-size: 20px;
font-weight: bold;
}


.navbar .nav-buttons {
    margin-right: 30px;
}

.navbar .nav-buttons button {
    margin-left: 10px;
    color: white;
    background-color: #0056b3;
    border: none;
}

.navbar .nav-buttons button:hover {
    background-color: #00408a;
}


.sidebar {
position: fixed;
width: 250px;
height: 100vh;
background-color: #002147;
padding: 20px;
margin-top: 92px;
}

.sidebar h2 {
color: white;
font-size: 20px;
font-weight: bold;
}

.category-list {
list-style-type: none;
padding: 0;
}

.category-list li {
margin: 10px 0;
}

.category-list a {
color: white;
text-decoration: none;
display: block;
padding: 10px;
}

.category-list a:hover {
background-color: #333;
}

.logout-btn {
color: white;
text-decoration: none;
display: block;
padding: 10px;
background-color: red;
text-align: center;
border-radius: 5px;
margin-top: 20px;
cursor: pointer;
}

.logout-btn:hover {
background-color: darkred;
}

.main-content {
margin-left: 270px;
margin-top: 80px;
padding: 20px;
width: 100%;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 30px;
  font-size: 28px;
}

form {
  width: 30%;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 200px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="text"], input[type="number"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}