<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Verification Success</title>
  <link rel="stylesheet" th:href="@{/otherCSS/emailVerificationCSS.css}">
</head>
<body>

<div class="container">
  <div th:if="${error}" class="error-message">
    <h1>Email Verification Failed</h1>
    <p th:text="${error}"></p>
  </div>

  <div th:unless="${error}">
    <div class="icon">&#10004;</div>
    <h1>Email Verification Successful</h1>
    <p>Your email address has been successfully verified. You can now log in and start exploring.</p>
    <a href="/viewLoginPage">
      <button class="btn">Go to Login</button>
    </a>
  </div>

</div>

</body>
</html>
