<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unauthorized Access</title>
  <link th:href="@{/otherCSS/unauthorizedPageCSS.css}" rel="stylesheet">
</head>
<body>

<div class="container">
  <h1>Oops! Unauthorized</h1>
  <p>You do not have access to this page. It seems like you are trying to view something restricted.</p>
  <a href="#" th:href="@{/viewLoginPage}" class="error-btn" style="background: #002147;">Go to Login</a>
  <div class="footer">
    <p>&copy; 2025 Your Company Name. All Rights Reserved.</p>
  </div>
</div>

</body>
</html>
