<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Quantity</title>
    <link th:href="@{/shopperCSS/placeAnOrderCSS.css}" rel="stylesheet">

</head>
<body>
<!-- Top Navigation Bar -->
<div class="navbar">
    <div class="title">Shop Products</div>
    <div class="nav-buttons">
        <button onclick="window.location.href='/user/order-history'">View Order History</button>
        <button onclick="window.location.href='/user/orders'">View Pending Orders</button>
    </div>
</div>

<!-- Sidebar (Categories) -->
<div class="sidebar">
    <h2 style="color: white; font-size: 20px; font-weight: bold; margin-left: 50px;">Categories</h2>
    <ul class="category-list">
        <li>
            <a th:href="@{/shop}">Home</a>
        </li>
        <li th:each="category : ${categories}">
            <a th:href="@{/category/{categoryName}(categoryName=${category.categoryName})}" th:text="${category.categoryName}"></a>
        </li>
    </ul>

    <div class="spacer"></div>

    <!-- Logout button -->
    <a class="logout-btn" onclick="window.location.href='/viewLoginPage'">Logout</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 order-details">
            <h2 th:text="${product.name}"></h2>
            <p th:text="${product.description}"></p>
            <h4>Price: <span th:text="${product.unitPrice}"></span> USD</h4>

            <form action="/placeOrder" method="post">
                <div class="mb-3">
                    <label id="productQuantities" class="form-label">Enter Quantity</label>
                    <input type="number" id="totalQuantity" name="totalQuantity" required>
                </div>

                <!-- Hidden Product ID -->
                <input type="hidden" name="productId" th:value="${product.id}">

                <!-- Order Button -->
                <button type="submit" class="order-btn">Confirm Order</button>
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
