<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link th:href="@{/shopperCSS/productDetailsCSS.css}" rel="stylesheet">

</head>
<body>
<!-- Top Navigation Bar -->
<div class="navbar">
    <div class="title">Shop Products</div>
</div>
<!-- Sidebar (Categories) -->
<div class="sidebar">
    <h2 style="color: white; font-size: 20px; font-weight: bold; margin-left: 50px;">Categories</h2>
    <ul class="category-list">
        <li>
            <a th:href="@{/shop}">Home</a>
        </li>
        <li th:each="category : ${categories}">
            <a th:href="@{/category/{categoryName}(categoryName=${category.categoryName})}" th:text="${category.categoryName}"></a>
        </li>
    </ul>

    <div class="spacer"></div>

    <!-- Logout button -->
    <a class="logout-btn" onclick="window.location.href='/viewLoginPage'">Logout</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 product-details">
            <h2 th:text="${product.name}"></h2>
            <p th:text="${product.description}"></p>
            <h4>Price: <span th:text="${product.unitPrice}"></span> USD</h4>

            <!-- Order Now Button -->
            <form action="/prepareOrder" method="post">
                <input type="hidden" name="id" th:value="${product.id}">
                <button type="submit" class="order-btn">Place an Order</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
